<table>
  <tr>
    <td><button class="btn" (click)="buttonFigure(7)">7</button></td>
    <td><button (click)="buttonFigure(8)">8</button></td>
    <td><button (click)="buttonFigure(9)">9</button></td>
    <td><button (click)="buttonSymbol('/')">/</button></td>
  </tr>
  <tr>
    <td><button (click)="buttonFigure(4)">4</button></td>
    <td><button (click)="buttonFigure(5)">5</button></td>
    <td><button (click)="buttonFigure(6)">6</button></td>
    <td><button (click)="buttonSymbol('*')">*</button></td>
  </tr>
  <tr>
    <td><button (click)="buttonFigure(1)">1</button></td>
    <td><button (click)="buttonFigure(2)">2</button></td>
    <td><button (click)="buttonFigure(3)">3</button></td>
    <td><button (click)="buttonSymbol('-')">-</button></td>
  </tr>
  <tr>
    <td><button (click)="buttonSymbol('.')">.</button></td>
    <td><button (click)="buttonFigure(0)">0</button></td>
    <td><button (click)="buttonSymbol('=')">=</button></td>
    <td><button (click)="buttonSymbol('+')">+</button></td>
  </tr>
</table>
